<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
>
    <groups>
        <exclude>
            <group>runnable</group>
        </exclude>
    </groups>
    <testsuites>
        <testsuite name="default">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="PREVENT_OUTPUT_GLOBALLY" value="true"/>
    </php>
</phpunit>
